.popup {
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.4);
   display: grid;
   // flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow-y: auto;
}

.popup_body {
   padding: toRem(30);
   background-color: $bgColor !important;
   max-width: toRem(500);
   width: 100%;
   min-height: toRem(400);
   text-align: center;
   display: flex;
   flex-direction: column;
}

.popup_header {
   display: flex;
   width: 100%;
   justify-content: end;
}

.popup_content {
   display: flex;
   flex-direction: column;
   row-gap: toRem(20);
   justify-content: space-between;
   align-items: center;
   background-color: #1e2129;
   border-radius: toRem(20);
   padding: toRem(30) toRem(30) toRem(50) toRem(30);
   max-width: toRem(500);
   @media (max-width: $mobile) {
      min-width: 100vw;
      min-height: 100vh;
      border-radius: 0;
      justify-content: start;
   }
}

.popup_input {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: toRem(5);
   width: 100%;

   input {
      padding: toRem(10) toRem(15);
      min-width: 0;
      width: 90%;
      background-color: transparent;
      border: toRem(1) solid #373a44;
      outline: none;
      &:focus {
         border-color: #464a57;
      }
   }
}
