@import "./assets/scss/common/common";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
