
.projects {
  padding: toRem(70) 0;
  @media (max-width: $mobile) {
    padding: toRem(50) 0;
  }
  @media (max-width: $mobileSmall) {
    padding: toRem(40) 0;
  }
}

.projects__header {
  display: grid;
  grid-template-columns: auto  auto;
  justify-content: space-between;
  align-items: end;
  gap: toRem(50);
  @media (max-width: em(950)) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    text-align: center;
  }

  &:not(:last-child) {
    margin-bottom: toRem(50);
    @media (max-width: $mobile) {
      margin-bottom: toRem(30);
    }
  }
}

.projects__info {
}

.projects__sort_nav {
  @include adaptiveValue('padding-bottom', 20, 10, 0, 1500, 991);

  ul {
    display: flex;
    align-items: center;
    column-gap: toRem(40);
    flex-wrap: wrap;
    row-gap: toRem(15);
    justify-content: end;
    @media (max-width: em(950)) {
      justify-content: center;
      column-gap: toRem(30);
    }
    @media (max-width: $mobile) {
      column-gap: toRem(20);
    }

    li {
      button {
        font-weight: 600;
        color: $colorGray;
        font-size: toRem(16);
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: toRem(-2);
          left: 0;
          width: 100%;
          height: toRem(2);
          background-color: $colorGray;
          opacity: 0;
          transition: opacity 0.2s;
        }

        @media (any-hover: hover) {
          &:hover {
            &:before {
              opacity: 1;
            }
          }
        }

        &.active {
          color: $colorDecor;

          &:before {
            opacity: 1;
            background-color: $colorDecor;
          }
        }
      }
    }
  }
}

.photos_scr {
  opacity: 0.1;
}

.projects__list {
  @media (min-width: $mobile) {
    overflow: visible !important;
  }

  & > div {

  }
}

.projects__item {
  cursor: pointer;

  &:before {
    content: '';
    z-index: 9;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    border: toRem(1) solid rgba($mainColor, 0.5);
    background-color: rgba($mainColor, 0.04);
    opacity: 0;
    transition: all 0.7s;
    pointer-events: none;
    backdrop-filter: blur(3px);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.4s;
    opacity: 1;
  }

  @media (any-hover: hover) {

    svg {
      opacity: 0;
    }

    &:hover {

      svg {
        opacity: 1;
      }

      &:before {
        opacity: 1;
        top: 10%;
        left: 10%;
        bottom: 10%;
        right: 10%;
      }
    }
  }
  @media (min-width: $mobile) {
    width: 100% !important;
  }
}

.projects__items {
  & > div > div > div {
    @media (min-width: $mobile) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: toRem(20);
    }
    @media (min-width: $mobile) {
      padding-bottom: 5%;
    }
    @media (max-width: $mobile) {
      gap: toRem(0);
    }

    & > div {

      @media (min-width: $mobile) {
        &:nth-child(even) {
          transform: translateY(10%);
        }
      }
    }
  }
}

.projects__image {
  padding-bottom: 162%;
}

